
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="box box-info">
    <div class="box-header">
        <i class="fa fa-user-secret"></i>
        <h3 class="box-title">تغییر کلمه عبور </h3>
    </div>
    <div class="box-body">
        @if (TempData["Msg"] != null)
        {
            <div class="@TempData["Style"] text-center">@TempData["Msg"]</div>
        }
        <br />
        <div class="row">
            <span id="msgError" hidden class="alert alert-danger"></span>
            <br />
            <div class="col-md-4">
                <form asp-action="ChangePassword" asp-controller="Account" method="post">
                    <div class="form-group">
                        <br />
                        <input type="text" id="InputPassword" name="password" value="" class="form-control" onkeyup="chkpwd()" placeholder="کلمه عبور جدید را وارد نمایید" />
                    </div>
                    <br />
                    <input type="submit" id="btnSave" disabled name="btnSave" value="ذخیره" class="btn btn-success" />
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    chkpwd = function (validate) {
        var str = document.getElementById('InputPassword').value;
        $('#msgError').attr('hidden', false);
        if (str.length < 6) {
            document.getElementById('msgError').innerHTML = "کلمه عبور باید حداقل 6 کاراکتر باشد ";
            $('#btnSave').attr('disabled', true);
            return ("too_short");
        }
        else if (str.search(/[0-9]/) == -1) {
            document.getElementById('msgError').innerHTML = "کلمه عبور باید شامل عدد باشد ";
            $('#btnSave').attr('disabled', true);
            return ("no_number");
        }
        else if (str.search(/[a-z]/) == -1) {
            document.getElementById('msgError').innerHTML = "کلمه عبور باید حداقل یک حرف لاتین کوچک باشد برای مثال : a";
            $('#btnSave').attr('disabled', true);
            return ("no_lowercase");
        }
        else if (str.search(/[A-Z]/) == -1) {
            document.getElementById('msgError').innerHTML = "کلمه عبور باید حداقل یک حرف لاتین بزرگ باشد برای مثال : A";
            $('#btnSave').attr('disabled', true);
            return ("no_uppercase");
        }
        else if (str.search(/[~\!\#\$\%\^\&\*\(\)\:\.\,\;]/) == -1) {
            document.getElementById('msgError').innerHTML = "کلمه عبور باید حداقل یک کاراکتر علامت دار داشته باشد برای مثال : %^#";
            $('#btnSave').attr('disabled', true);
            return ("no_character");
        }
        $('#msgError').attr('hidden', true);
        $('#btnSave').attr('disabled', false);
        return ("Ok");
    }
</script>
