@{
    CategoryRepository categoryRepository = new CategoryRepository();
}
<div class="sidebar">
    <h2 class="subject">آرشیو دسته بندی</h2>
    <div class="category-products">
        <!--category-products-->
        <ul>

            @foreach (var item in categoryRepository.ShowArchiveFirstSubCategory())
            {

                <li><a href="/Home/Search?FirstCatId=@item.Link">@item.FirstSubCatTitle <label class="badge pull-left">@item.CountProduct</label></a></li>

            }


        </ul>

    </div><!--/category-products-->


</div>




